* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora", serif; /*Added the font family*/
}

nav {
    position: fixed;
    left: 32;
    top: 20;
    width: 100%;
    height: 100px;
    padding: 20px;
    z-index: 100; /*Ensure the nav is above other elements*/
}

nav .logo {
    padding-left: 32px;
}

nav .nav_content {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
}

nav .nav_links {
    display: flex;
    align-items: center;
}

nav .nav_links li {
    list-style: none;
    margin: 0 32px; 
}

nav .nav_links li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease; 
}

nav .nav_links li a:hover {
    color: #9500FF;
}

nav .social_links {
    padding-right: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.landing_page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #FFD6EA , #B0B4FA);
}

.landing_text {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
}

h1 {
    font-size: 100px;
    font-weight: bold;
}

h2 {
    font-size: 85px;
    font-weight: bold;
} 

h3 {
    font-size: 40px;
    font-weight: 300;
}

p {
    font-size: 24px;
}


.left-envelope {
    left: 50px;

}

.right-envelope {
    right: 50px;
}

.left-letter {
    width: 300px;
    height: 250px;
}

.right-letter {
    width: 400px;
    height: 400px;
}

.buttons {
    display: flex;
    justify-content: center; 
    gap: 20px;
    margin-top: 30px;
    padding-top: 32px;
}

.buttons button {
    padding: 15px 30px; 
    border: none;
    border-radius: 30px; 
    font-size: 18px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.buttons .register {
    background-color: #A273FF; 
    color: white; 
}

.buttons .learn_more {
    background-color: #E0E0E0; 
    color: #333; 
}

.buttons button:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.buttons .register:hover {
    background-color: #8000E0; 
}

.buttons .learn_more:hover {
    background-color: #D0D0D0; 
}

.date_time {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 32px;
}

.heart_pixel {
    width: 40px;
    height: 45px;
}

.about-us-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.back-cloud {
    position: absolute;
    left: -100px;
    top: 250px;
    z-index: 0;
}

.front-cloud {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 300px;
    height: 100px;
    z-index: 2;
}

.about-us-image {
    width: 600px;
    height: 550px;
    padding: 50px;
    border-radius: 15%;
    z-index: 1;
}

.about-us {
    height: 100vh;
    background: linear-gradient(to bottom, #B0B4FA , #6B35FF);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    position: relative;
}

.about-us-text {
    padding: 32px;
    gap: 32px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.prizes {
    height: 150vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    position: relative;
    background: linear-gradient(to bottom, #6B35FF , #A1D2FF);
}

.prizes-text {
    align-items: center;
    text-align: center;
    padding: 50px;
    position: relative;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    background: linear-gradient(to bottom, #A1D2FF, #6B35FF);
}

main {
    width: 75%;
    margin: 0 auto;
}

summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fff;
    color: #333;
    padding: 1.5rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin-top: 25px;
}

details[open] summary ~ * {
animation: sweep .5s ease-in-out;
}

@keyframes sweep {
0%    {opacity: 0; margin-top: -10px}
100%  {opacity: 1; margin-top: 0px}
}

details > summary::after {
position: absolute;
content: "+";
right: 20px;
}

details[open] > summary::after {
position: absolute;
content: "-";
right: 20px;
}

details > summary::-webkit-details-marker {
display: none;
}